<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dieta</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="body-container">
        <div class="text-container">
<h2>Podaj produkt którego wartość odżywczą chcesz poznać: (nazwa produktu po angielsku)</h2><br>
<form action="/dieta" method="post" id="produkt">
    <input id="elo" name="produkt" type="text">
    <button class="main-button" style="width: 100%;">Sprawdź</button>
</div>
</div>
</form>