<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="login-container">
            <img src="icons/buffed_icon_yellow.svg" class="buffed-icon-yellow">
            <form class="form-container" action="/login" method="post" id="login">
                <h2>Log into your account</h2>
                <input type="text" name="login" id="login" required><br>
                <input type="password" name="pass" id="pass" required><br>
                <button type="submit" class="submit-button" name="login">Submit</button>
                <a href="register" class="text-link">Create a new <span>account</span></a>
            </form>
        </div>
    </body>
</html>