<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="login-container">
            <img src="icons/buffed_icon_yellow.svg" class="buffed-icon-yellow">
            <form class="form-container" action="/register" method="post" id="register">
            <input type="text" id="name" name="name" required placeholder="Name"><br>
            <input type="text" id="surname" name="surname" required placeholder="Surname"><br>
            <input type="text" id="login" name="login" required placeholder="Login"><br>
            <input type="password" id="pass" name="pass" required placeholder="Password"><br>
            <input type="password" id="pass1" name="pass1" required placeholder="Confirm password"><br>
            <button type="submit" name="login" class="submit-button">Register</button>
            <a href="login" class="text-link">If you have an account <span>log</span></a>
        </form>
    </div>
    </body>
</html>