<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration successful</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
</body>
</html>
    <body>
        <div class="body-container">
            <img src="icons/buffed_icon_yellow.svg" class="buffed-icon-yellow">
        <div class="text-container">
        <h2>Registration was successful</h2>
        <a href="/login"><button class="main-button" style="width: 100%;">Log in</a></button>
        </div>
        </div>
    </body>
</html>