<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="donations.css">
    <title>Dotacje</title>
  </head>
  <body>
    <div class="container image1">
      <div>
        <h2>Wojna na Ukrainie</h2>
        Jest to zbrojna agresja Federacji Rosyjskiej na Ukrainę rozpoczęta w
        lutym 2014. Początkowo działania rosyjskie przybierały postać wojny
        hybrydowej, której elementami były między innymi: interwencja militarna
        na Krymie i jego aneksja, wojna w Donbasie oraz incydent w Cieśninie
        Kerczeńskiej. Od jesieni 2021 konflikt zaczął eskalować, przeradzając
        się 24 lutego 2022 w otwarty konflikt zbrojny o charakterze regularnej
        wojny, kiedy to Rosja rozpoczęła zakrojoną na szeroką skalę inwazję na
        Ukrainę.
      </div>
      <a href="https://buy.stripe.com/28o2agfBUdBL9AA6oo"><button>Wspomóż</button></a>
  
    </div>
    <div class="container">
      <div>
        <h2>Konflikt wojenny w Palestynie</h2>
        Wojna pomiędzy Izraelem a palestyńskim ugrupowaniem Hamas, rozpoczęła się atakiem członków
        Hamasu na terytorium Izraela 7 października 2023 roku.
        W odpowiedzi na palestyński atak, izraelskie wojsko rozpoczęło operację
        „Żelazne Miecze”, polegającą na nalotach na cele wojskowe, cywilne i
        placówki humanitarne i walce z bojownikami Hamasu na południu Izraela. 
        Pod koniec października 2023 roku Siły Obronne Izraela zapoczątkowały lądową 
        operację wojskową w Strefie Gazy. Zarówno działania Hamasu, jak i izraelskiego wojska
        spowodowały śmierć setek ludzi po obu stronach konfliktu.
      </div>
      <a href="https://buy.stripe.com/28obKQdtM55fcMM001"><button>Wspomóż</button></a>
        
  
    </div>
    <div class="container">
      
      <div>
        <h2>Klęski żywiołowe</h2>
        Ekstremalne zjawiska naturalne powodujące znaczne szkody na terenie
        objętym tymi zjawiskami, pozostawiające po sobie często zmieniony obraz
        powierzchni ziemi. Powodują ono również wysokie straty w gospodarce
        człowieka, mogą zmienić stan przyrody, a nawet zagrażać życiu ludzkiemu.
      </div>
      <a href="https://buy.stripe.com/8wM8yEgFY8hr7ssbIK"><button>Wspomóż</button></a>
        

    </div>
  </body>
</html>
