<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grupy.css">
    <title>Grupy</title>
</head>
<body>
    <div class="container">
        <h2>Grupy wolontaryjne</h2>
    <div>Wprowadź nazwę grupy wolontaryjnej którą chcesz utworzyć lub do której chcesz dołączyć</div>
    <form action="/grupy" method="post">
        <input type="text" placeholder="nazwa" name="nazwa"/>
        <input type="submit" value="Utwórz"/>
    </div>
    </form>
</body>
</html>