<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="napiszPost.css">
    <title>Napisz post</title>
</head>
<body>
    <form action="/napiszPost" method="post" class="containerForm">
        <textarea name="tekst" placeholder="Napisz post"></textarea>
        <input type="submit" value="Wyślij"/>
    </form>
    <a href="grupyCzlonek" class="linkgruopy">Zobacz grupę</a>
</body>
</html>